<h1>Все товары</h1>
<div class="row mt-5 mb-2">


@{
        <div class="Pologenie">
            <div class="Spisok_Menu Inviz">
                
                <div class="Spisok_Man">
                    <h4>Диваны</h4>
                    <ul>
                        <li><a href="#">Армада</a></li>
                        <li><a href="#">Аврора</a></li>
                        <li><a href="#">Каминное </a></li>
                        <li><a href="#">Бали</a></li>
                        <li><a href="#">Бруклин</a></li>
                        <li><a href="#">Венеция</a></li>
                        <li><a href="#">Лофт</a></li>
                        <li><a href="#">Грация</a></li>
                        <li><a href="#">Валерия</a></li>
                        <li><a href="#">Лотос</a></li>
                        <li><a href="#">Радуга</a></li>
                        <li><a href="#">Соренто</a></li>
                    </ul>
                </div>
                <div class="Spisok_Woman">
                    <h4>Кресла</h4>
                    <ul>
                        <li><a href="">Аврора</a></li>
                        <li><a href="#">Каминное</a></li>
                    </ul>
                </div>
            </div>
        </div>



    //foreach (var car in Model.allCars)
    //{
        //<div class="col-lg-4">
                
            //<img class="img-Product" src="@car.img" alt="@car.name" />
                
            //<h2>@car.name</h2>
            //<p>@car.shortDesc</p>
            //<p>Цена: @car.price.ToString("c")</p>
            //<p><a class="btn btn-warning" href="a">Подробнее</a></p>
        //</div>
    //}
}
</div>